<div class="row">
  <table class="table">
    <tr>
      <th style="width: 10%">User ID</th>
      <th style="width: 30%">Username</th>
      <th style="width: 40%">Active roles</th>
      <th style="width: 20%"></th>
    </tr>
    <tr *ngFor="let user of users">
      <td style="width: 10%">{{user.id}}</td>
      <td style="width: 30%">{{user.userName}}</td>
      <td style="width: 40%">{{user.roles}}</td>
      <td style="width: 20%">
        <button class="btn btn-info" (click)="editRolesModal(user)">Edit Roles</button>
      </td>
    </tr>
  </table>
</div>